<div *ngIf="isLoaded" @viewFadeIn class="w-100">
	<div class="container pt-3 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col">
				<div class="card profile-card my-light2" #profileCard>
					<div class="card-body p-4">
						<div class="d-flex text-black">
							<div class="flex-shrink-0" id="avatarPic">
								<img draggable="false" (click)="openChangeAvatar()" src="{{user ? user.img_url : 'https://i1.sndcdn.com/artworks-000329925816-3yu1fd-t500x500.jpg'}}" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp';" alt="Generic placeholder image" class="img-fluid card-profile-pic">
							</div>
							<div class="flex-grow-1 ms-3" style="display: flex; flex-direction: column;">

								<div class="d-flex gap-2 flex-grow-1">
									<div class="w-100" style="display: flex; flex-direction: column;">
										<h5 class="mb-1 text-center">{{user ? user.username : 'Mr. Connasse'}}</h5>
										<p class="mb-2 pb-1 text-center">{{user ? user.title : 'Professionnal Dummy'}}</p>
										<div class="d-flex justify-content-start rounded-3 p-2 mb-2 stat-box flex-grow-1">
											<div class="col justify-content-center">
												<p class="small text-muted mb-1 text-center">Wins / Losses</p>
												<p class="mb-0 text-center">{{getRatio()[1]}} / {{getRatio()[0]}}</p>
											</div>
											<div class="col justify-content-center">
												<p class="small text-muted mb-1 text-center">Achievements</p>
												<p class="mb-0 text-center">{{getPercentAchieved()}}</p>
											</div>
											<div class="col justify-content-center">
												<p class="small text-muted mb-1 text-center">Status</p>
												<div class="d-flex justify-content-center">
													<p class="mb-0 text-center pe-1">{{getStatus()}}</p>
													<span class="badge {{getStatus() == 'online' ? 'bg-success' : 'bg-secondary'}} dot rounded-circle status-dot">&nbsp;</span>
												</div>
											</div>
										</div>
									</div>

									<div class="d-flex justify-content-start rounded-3 p-2 mb-2 stat-box">
										<div class="col justify-content-center">
											<p class="small text-muted mb-1 text-center">Rank Score</p>
											<p class="mb-0 text-center font-weight-bold display-2 rank-label">{{rank}}</p>
										</div>
									</div>
								</div>

								<div *ngIf="!isMyProfile()" class="d-flex pt-1 gap-2">
									<button type="button" class="btn btn-outline-primary flex-grow-1" (click)="challenge()">Challenge</button>
									<button type="button" (click)="addFriend()" class="btn btn-primary" style="flex-grow: 5;">Add Friend</button>
								</div>
								<div *ngIf="isMyProfile()" class="d-flex pt-1 gap-2">
									<button type="button" class="btn btn-outline-primary flex-grow-1" (click)="createSettingsPopup()">Settings</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div>&nbsp;</div>
		<!-- Settings -->
		<div *ngIf="settingState == 'open'" class="row px-5 mx-2" style="overflow: hidden;" @settingWindow>
			<div class="d-flex p-3 border rounded-3 white">
				<div class="col d-flex justify-content-around">
					<!-- Carousel des Paddles -->
					<div class="col d-flex flex-column align-items-center justify-content-center">
						<div class="d-flex">
							<div class="text-center">
								<div class="d-flex gap-2">
									<button class="btn arrow left flex-shrink-0" type="button" (click)="panLeft(windowPaddle, paddleSkins, 'slideDirectionPaddle')">&lt;</button>
									<div class="d-flex gap-3 align-items-center border bg-black" style="overflow: hidden; height: 200px;">
										<img draggable="false" src="{{windowPaddle[0].img_url}}" style="height: 50px; width: 10px; margin-left: -10px;" alt="Skin" [@slideFarLeft]="slideDirectionPaddle">
										<img draggable="false" src="{{windowPaddle[1].img_url}}" style="margin-left: 5px;" alt="Skin" [@slideLeft]="slideDirectionPaddle">
										<img draggable="false" src="{{windowPaddle[2].img_url}}" style="height: 180px;" alt="Skin" [@slideCenter]="slideDirectionPaddle">
										<img draggable="false" src="{{windowPaddle[3].img_url}}" style="margin-right: 5px;" alt="Skin" [@slideRight]="slideDirectionPaddle">
										<img draggable="false" src="{{windowPaddle[4].img_url}}" style="height: 50px; width: 10px; margin-right: -10px;" alt="Skin" [@slideFarRight]="slideDirectionPaddle">
									</div>
									<button class="btn arrow right flex-shrink-0" type="button" (click)="panRight(windowPaddle, paddleSkins, 'slideDirectionPaddle')">&gt;</button>
								</div>
								<div>{{windowPaddle[2].name}}</div>
							</div>
							<!-- Carousel des Balls -->
							<div class="text-center">
								<div class="d-flex gap-2">
									<button class="btn arrow left flex-shrink-0" type="button" (click)="panLeft(windowBall, ballSkins, 'slideDirectionBall')">&lt;</button>
									<div class="d-flex gap-3 align-items-center border bg-black" style="overflow: hidden; height: 200px;">
										<img draggable="false" src="{{windowBall[0].img_url}}" style="height: 10px; width: 10px; margin-left: -10px;" alt="Skin" [@slideFarLeft]="slideDirectionBall">
										<img draggable="false" src="{{windowBall[1].img_url}}" style="margin-left: 5px;" alt="Skin" [@slideLeft]="slideDirectionBall">
										<img draggable="false" src="{{windowBall[2].img_url}}" style="height: 37px;" alt="Skin" [@slideCenter]="slideDirectionBall">
										<img draggable="false" src="{{windowBall[3].img_url}}" style="margin-right: 5px;" alt="Skin" [@slideRight]="slideDirectionBall">
										<img draggable="false" src="{{windowBall[4].img_url}}" style="height: 10px; width: 10px; margin-right: -10px;" alt="Skin" [@slideFarRight]="slideDirectionBall">
									</div>
									<button class="btn arrow right flex-shrink-0" type="button" (click)="panRight(windowBall, ballSkins, 'slideDirectionBall')">&gt;</button>
								</div>
								<div>{{windowBall[2].name}}</div>
							</div>
						</div>
						<!-- Carousel des Background -->
						<div class="text-center">
							<div class="d-flex gap-2">
								<button class="btn arrow left flex-shrink-0" type="button" (click)="panLeft(windowBackground, backgroundSkins, 'slideDirectionBackground')">&lt;</button>
								<div class="d-flex gap-3 align-items-center border bg-black" style="overflow: hidden; height: 200px; width: 300px;">
									<img draggable="false" src="{{windowBackground[2].img_url}}" style="height: 180px;" alt="Skin">
								</div>
								<button class="btn arrow right flex-shrink-0" type="button" (click)="panRight(windowBackground, backgroundSkins, 'slideDirectionBackground')">&gt;</button>
							</div>
							<div>{{windowBackground[2].name}}</div>
						</div>
					</div>
					<div class="col d-flex flex-column gap-4 ms-2 me-5 mt-5">
						<!-- Choix dequi peut inviter -->
						<div>
							<p>Accept channel invitations and challenges from:</p>
							<div class="form-check" (click)="acceptChanInviteFrom(0)">
								<input class="form-check-input" type="radio" name="flexRadioDefault" [checked]="nobodyChecked">
								<label class="form-check-label" for="flexRadioDefault1">
									nobody
								</label>
							</div>
							<div class="form-check" (click)="acceptChanInviteFrom(1)">
								<input class="form-check-input" type="radio" name="flexRadioDefault" [checked]="friendsChecked">
								<label class="form-check-label" for="flexRadioDefault2">
									my friends
								</label>
							</div>
							<div class="form-check" (click)="acceptChanInviteFrom(2)">
								<input class="form-check-input" type="radio" name="flexRadioDefault" [checked]="everyoneChecked">
								<label class="form-check-label" for="flexRadioDefault1">
									everyone
								</label>
							</div>
						</div>
						<!-- Choix de la double authentification -->
						<div>
							<label>Activate Double Auth:</label>
							<input class="ms-2" type="checkbox" (click)="toggleAuth()" [checked]="doubleAuthChecked">
						</div>
						<!-- Choix du username -->
						<form #usernameField="ngForm" (input)="checkInput(usernameField.value.usernameFld)" class="row g-3">
							<div class="col">
								<div>Change your username:</div>
								<input id="inputForm" class="input form-control" style="border-radius: 3px;" name="usernameFld" placeholder="new username" ngModel>
								<div class="text-muted" [hidden]="inputCheckList.tooLong">20 characters maximum</div>
								<div class="text-muted" [hidden]="inputCheckList.tooShort">1 character minimum</div>
								<div class="text-muted" [hidden]="inputCheckList.other">already taken</div>
							</div>
						</form>
						<div>
							<div>Title:</div>
							<select class="form-select" name="title" id="title-select" (change)="setTitle($event)">
								<option value="this.user.title">---</option>
								<option value="">no title</option>
								<option *ngFor="let title of titles" value={{title}}>{{title}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" value="submit" (click)="updateSettings(usernameField.value.usernameFld)" class="btn btn-primary flex-shrink-0 mt-1">Save changes</button>
		</div>
		<div>&nbsp;</div>
	</div>
	<div class="row gap-3 px-5 mx-2" style="height: 32vw;">

		<div class="col border border-dark rounded-3 white h-100 p-0 my-light2" style="overflow: hidden;">
			<table class="w-100 h-100">
				<thead class="w-100">
					<div class="d-flex w-100 justify-content-center">
						<h2 class="m-auto mt-2">Achievements</h2>
					</div>
				</thead>
				<hr class="mb-0">
				<div *ngIf="user" class="w-100 scroll-small" style="height: 98%; overflow-y: auto;">
					<div *ngFor="let achieve of user.achievements.unlockedAchievements" class="d-flex flex-column w-100 p-5 border-bottom bg-trophy gradient-overlay">
						<h4 style="z-index: 100;">{{achieve.achievement_name}}</h4>
						<p style="z-index: 100;">{{achieve.achievement_description}}</p>
					</div>
					<div *ngFor="let achieve of user.achievements.lockedAchievements" class="d-flex flex-column w-100 p-5 border-bottom bg-trophy gradient-overlay bg-grayed">
						<h4 style="z-index: 100;">{{achieve.achievement_name}}</h4>
						<p style="z-index: 100;">{{achieve.achievement_description}}</p>
					</div>
				</div>
				<div *ngIf="!user" class="w-100 scroll-small" style="height: 98%; overflow-y: auto;">
					<div *ngFor="let achieve of achievements.unlockedAchievements" class="d-flex flex-column w-100 p-5 border-bottom bg-trophy gradient-overlay">
						<h4 style="z-index: 100;">{{achieve.achievement_name}}</h4>
						<p style="z-index: 100;">{{achieve.achievement_description}}</p>
					</div>
					<div *ngFor="let achieve of achievements.lockedAchievements" class="d-flex flex-column w-100 p-5 border-bottom bg-trophy gradient-overlay bg-grayed">
						<h4 style="z-index: 100;">{{achieve.achievement_name}}</h4>
						<p style="z-index: 100;">{{achieve.achievement_description}}</p>
					</div>
				</div>
			</table>
		</div>
		<div class="col border rounded-3 white my-light2">
			<div *ngIf="matchHistory.length">
				<canvas id="matchChart"></canvas>
				<canvas id="rankChart"></canvas>
			</div>
			<div *ngIf="!matchHistory.length" class="d-flex justify-content-center align-items-center h-100">
				<h4 class="text-center text-muted">No stats yet</h4>
			</div>
		</div>

		<div class="col border rounded-3 white h-100 p-0 my-light2" #matchBody style="overflow: hidden;">
			<table class="w-100 h-100">
				<thead class="w-100">
					<div class="d-flex w-100 justify-content-center">
						<h2 class="m-auto mt-2">Match History</h2>
					</div>
				</thead>
				<hr class="mb-0">
				<div class="w-100" style="height: 98%; overflow-y: auto;">
					<div *ngIf="matchHistory.length">
						<div *ngFor="let match of matchHistory" class="d-flex w-100 p-1 border-bottom">
							<img draggable="false" class="rounded-circle versus-img player" (click)="createChatPopup(getName(match, match.Player2), getId(match, match.Player2))" src="{{ getImg(match, match.Player2) }}" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp';" alt="avatar 1">
							<div class="flex-grow-1">
								<div class="d-flex align-items-center justify-content-center px-2">
									<h4 class="m-0">{{isVictory(match) ? 'Victory' : 'Defeat'}}</h4>
								</div>
								<div class="row">
									<div class="col d-flex align-items-center justify-content-center px-2"><p class="m-0 small">{{ getName(match, match.Player2) }}</p></div>
									<div class="col-3 d-flex align-items-center justify-content-center px-2"><p class="m-0 small">{{ getScore(match, match.Player2) }} / {{ getScore(match, match.Player1) }}</p></div>
									<div class="col d-flex align-items-center justify-content-center px-2"><p class="m-0 small">{{ getName(match, match.Player1) }}</p></div>
								</div>
								<div class="d-flex align-items-center justify-content-center px-2">
									<p class="m-0 small text-muted">{{getTimeDiff(match.date)}}</p>
								</div>
							</div>
							<img draggable="false" class="rounded-circle versus-img opponent" src="{{ getImg(match, match.Player1) }}" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp';" alt="avatar 2">
						</div>
					</div>
					<div *ngIf="!matchHistory.length" class="d-flex justify-content-center align-items-center h-100">
						<h4 class="text-center text-muted">No Matches in history</h4>
					</div>
				</div>
			</table>
		</div>
	</div>
</div>

