<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" class="offscreen airforceblue">
        <div class="sidebar-header">
            <a class="inox" href="#">Transcendence</a>
        </div>
		<ul class="list-group active">
            <li class="active" aria-owns="#homeSubmenu">
                <a data-toggle="collapse" class="dropdown-toggle " (click)="togglePlay()">Home</a>
                <ul class="collapse list-unstyled show " id="play">
                    <li>
                        <a href="matchmaking">Ranked match</a>
                    </li>
                    <li>
                        <a href="pong_debug">Casual match</a>
                    </li>
                    <li>
                        <a href="#">Challenge a friend</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="profile">My profile</a>
            </li>
			<li>
                <a href="chat">Chat</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
            <li>
                <a href="friends">Friends</a>
            </li>
			<li>
                <a href="login">Log in</a>
            </li>
        </ul>
    </nav>

	<div class="w-100 gunmetal"><router-outlet></router-outlet></div>
    <!-- <div *ngIf="isConnected()"><app-chat></app-chat></div> -->
	<!-- <ngbd-toast-global></ngbd-toast-global> -->
	<!-- <app-toasts></app-toasts> -->
</div>

<ng-template #toastFriendRequest>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast-header">
        <strong class="mr-auto">Friend request</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="toast-body">
        <!-- {{user_name}} wants to be your friend! -->
        XXX wants to be you friend!
        </div>
    </div>
</ng-template>

<ng-template #toastChallenge>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast-header">
        <strong class="mr-auto">Challenge</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="toast-body">
        <!-- {{user_name}} challenges you -->
        XXX challenges you
        </div>
    </div>
</ng-template>

<ng-template #toastAchievement>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast-header">
        <strong class="mr-auto">New acheivement</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="toast-body">
        <!-- You won the acheivement {{acheivement_name}}, congratulations -->
            You won the acheivement XXX, congratulations
        </div>
    </div>
</ng-template>

<ng-template let-data="data" #popoverContent>
	<app-profile-popup [data]="data"></app-profile-popup>
</ng-template>