<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" class="offscreen">
        <div class="sidebar-header">
            <a class="inox" href="#">Inox_Transcendence</a>
        </div>
		<ul class="list-group active">
            <li class="active" aria-owns="#homeSubmenu">
                <a data-toggle="collapse" class="dropdown-toggle" (click)="togglePlay()">Home</a>
                <ul class="collapse list-unstyled show " id="play">
                    <li>
                        <a href="matchmaking">Ranked match</a>
                    </li>
                    <li>
                        <a href="pong_debug">Casual match</a>
                    </li>
                    <li>
                        <a href="#">Challenge a friend</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">My profile</a>
            </li>
			<li>
                <a href="chat">Chat</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
            <li>
                <a href="friends">Friends</a>
            </li>
			<li>
                <a href="login">Log in</a>
            </li>
        </ul>
    </nav>


	<router-outlet></router-outlet>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

