<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Inox_Transcendence</h3>
        </div>
		<ul class="list-unstyled components">
            <li class="active">
                <a href="matchmaking" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Play</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="matchmaking">Ranked match</a>
                    </li>
                    <li>
                        <a href="matchmaking">Casual match</a>
                    </li>
                    <li>
                        <a href="#">Challenge a friend</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">My profile</a>
            </li>
			<li>
                <a href="chat">Chat</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
            <li>
                <a href="#">Friends</a>
            </li>
			<li>
                <a href="login">Log in</a>
            </li>
        </ul>
    </nav>


	<router-outlet></router-outlet>
</div> 

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

