
/* CSS */

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@600&display=swap');

.chatting{
	font-family: 'Pixeloid', sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.mybutton {
  background-color: #4E8098;
	color: white;
  border-radius: 10px;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 3px;
	cursor: pointer;
  text-align: center;
  padding: 5px;
  margin: 2px;
  min-width: 40px;
  user-select: none;
}

.mybutton:hover {
	box-shadow: 0px 0px 50px #4E8098;
}

.devMode {
	position: fixed;
	bottom: 20;
  left: 60;
}
