<div class="container-fluid" >
	<div class="d-flex h-100 flex-column text-center py-5" style="padding-top: 20%; margin: 20%;">
		<p class="chatting">Hi {{getUsername()}}, it's good to see you there!</p>
		<p class="chatting">How about playing a match?</p>
		<div class="row py-5">
			<div class="col button-20">Play a ranked match</div>
			<div class="col-1"></div>
			<div class="col button-20">Play a casual match</div>
		</div>
	</div>
	<div class="btn btn-primary" (click)="printToast()">toast</div>
</div>
