<div class="w-100">
	<div class="w-100">
		<h2 *ngIf="items">Shop</h2>
		<div class="d-flex justify-content-left">
			<div class="m-4">
				<select class="form-select" (change)="onChange($event)" aria-label="Default select example">
					<option selected value="">all</option>
					<option *ngFor="let type of existingTypes "  value={{type}}> {{type}} </option>
				</select>
			</div>
			<div class="m-4">
				<form #searchField="ngForm" (ngSubmit)="onClickSearch(searchField.value.searchFld)" class="row g-3">
					<div class="col-auto">
					  <label for="search" class="visually-hidden">Search</label>
					  <input class="form-control" name="searchFld" placeholder="Search" ngModel>
					</div>
					<div class="col-auto">
					  <button type="submit" class="btn btn-primary mb-3">Go</button>
					</div>
				  </form>
			</div>

		</div>
		<div class="d-flex row row-cols-1 row-cols-md-3 px-4 m-0" >
			<div class="col-3 m-0 mb-4" *ngFor="let item of filteredItems">
				<div class="card" style="max-width: 30vw;">
					<img src="{{item.image}}" class="card-image-top">
					<div class="card-body" style="color: black;">
						<h5 class="card-title">{{item.name}}</h5>
						<p class="card-text">{{item.description}}</p>
						<span class="badge rounded-pill bg-primary">{{item.type}}</span>
					</div>
					<div class="card-footer text-center">
						<button *ngIf="playerWealth >= item.price" class="btn btn-primary">{{item.price}}</button>
						<button disabled="true" *ngIf="playerWealth < item.price" class="btn btn-outline-primary">{{item.price}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

