<div class="container mt-3">
	<h3>My friends</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Username</th>
				<th>status</th>
				<th>ranking</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let friend of friends">
				<td>
					<div class="d-flex align-items-end ">
						<p class="small ms-3 mb-0 text-muted" (click)="onClickFriend(friend)">{{ friend.username }}</p>
						<img (click)="goToProfile(friend)" class="rounded-circle border border-2 m-0 ms-2 m-auto hidden_icon" id="img-{{friend.user_id}}-profile" src="{{icone_list.go_to_profile}}" alt="profile">
						<img (click)="goToMessages(friend)" class="rounded-circle border border-2 m-0 ms-2 m-auto hidden_icon" id="img-{{friend.user_id}}-message" src="{{icone_list.go_to_messages}}" alt="message">
						<img (click)="removeFriend(friend)" class="rounded-circle border border-2 m-0 ms-2 m-auto hidden_icon" id="img-{{friend.user_id}}-unfriend" src="{{icone_list.remove_friend}}" alt="unfriend">
						<img (click)="blockUser(friend)" class="rounded-circle border border-2 m-0 ms-2 m-auto hidden_icon" id="img-{{friend.user_id}}-block" src="{{icone_list.block_user}}" alt="block">
					</div>
				</td>
				<td *ngIf="friend.activity_status == 0">offline</td>
				<td (click)="challenge(friend)" *ngIf="friend.activity_status == 1">online</td> <!--transformer online en lien pour challenge-->
				<td (click)="spectate(friend)" *ngIf="friend.activity_status == 2">playing</td> <!--transformer playing en lien pour spectate la partie-->
				<td>{{friend.rank_score}}</td>
			</tr>
		</tbody>
	</table>
</div>
<button type="button" class="btn btn-primary" (click)="addSystemFriend()">add System as friend</button>
<app-chat></app-chat>