<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)" >
	<input type = "text" name = "username" placeholder = "Username" ngModel>
	<br/>
	<input type = "number" name = "rank_score" placeholder = "Rank" ngModel>
	<br/>
	<input type = "text" name = "img_url" placeholder = "Image URL" ngModel>
	<br/>
	<input type = "submit" value = "submit">
 </form>
 <h2>OR LOGIN</h2>
 <form #userlogin2="ngForm" (ngSubmit)="onClickSubmitLogin(userlogin2.value)" >
	<input type = "text" name = "username" placeholder = "Username" ngModel>
	<br/>
	<input type = "submit" value = "submit">
 </form>