<div *ngIf="!(user | async)" class="spinner-border text-primary"></div>
<div *ngIf="user | async" class="card-body p-2">
	<div class="d-flex text-black">
		<div class="flex-shrink-0">
			<img *ngIf="user | async as userConf" src="{{userConf.img_url}}" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp';" alt="Generic placeholder image" class="img-fluid card-profile-pic">
		</div>
		<div class="flex-grow-1 ms-3">

			<div class="d-flex gap-2">
				<div class="w-100">
					<h5 *ngIf="user | async as userConf" class="mb-1 text-center">{{userConf.username}}</h5>
					<p *ngIf="user | async as userConf" class="mb-2 pb-1 text-center">{{userConf.title}}</p>
					<div class="d-flex justify-content-start rounded-3 p-2 mb-2 stat-box">
						<div class="col justify-content-center">
							<p class="small text-muted mb-1 text-center">Wins / Losses</p>
							<p *ngIf="user | async as userConf" class="mb-0 text-center">{{userConf.wins}} / {{userConf.losses}}</p>
						</div>
						<div class="col justify-content-center">
							<p class="small text-muted mb-1 text-center">Status</p>
							<div class="d-flex justify-content-center">
								<p *ngIf="user | async as userConf" class="mb-0 text-center pe-1">{{userConf.activity_status ? 'online' : 'offline'}}</p>
								<span class="badge bg-success dot rounded-circle status-dot">&nbsp;</span>
							</div>
						</div>
						<div class="col justify-content-center">
							<p class="small text-muted mb-1 text-center">Rank score</p>
							<p *ngIf="user | async as userConf" class="mb-0 text-center font-weight-bold rank-label">{{userConf.rank_score}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex pt-1 gap-2">
				<button type="button" class="btn btn-outline-primary flex-grow-1">Chat</button>
				<button type="button" class="btn btn-outline-primary flex-grow-1">Challenge</button>
				<button type="button" (click)="addFriend()" class="btn btn-primary" style="flex-grow: 5;">Add Friend</button>
			</div>
		</div>
	</div>
</div>
