<div class="container h-100" style="max-width: 100%;">
	<div class="d-flex row justify-content-center align-items-center h-100 w-100">
		<div class="col-1"></div>
		<div class="d-flex flex-column rounded-3 col gap-4 justify-content-center" style="max-width: 1024px; width: 1024px;">
			<div id="pixiContainer" #pixiContainer></div>
<!-- Profile Zone -->
			<div class="align-self-center" style="margin-top: -30px; margin-bottom: -10px; height: 10px;">
				<img src="https://cdn.discordapp.com/attachments/1041104785870438521/1117835046187970570/Double_chevron_right.png" id="arrow" class="arrow-match">
			</div>
			<div *ngIf="player.user && opponent.user" @viewFadeIn class="d-flex">
				<div class="d-flex col my-light2 light-gunmetal p-2 gap-3">
					<img draggable="false" class="col" src="{{player.user.img_url}}" class="rounded-circle" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp';" alt="avatar 3" style="width: 40px; height: 100%;">
					<div class="col d-flex gap-3 align-items-center">
						<h4 class="m-0">{{player.user.username}}</h4>
						<p class="text-muted m-0">{{player.user.rank_score}}</p>
					</div>
				</div>
				<div class="col flex-grow-2 align-items-center text-center"><h3 class="mt-4" style="font-family: 'Pixeloid', sans-serif;">VS</h3></div>
				<div class="d-flex col text-end my-light2 light-gunmetal p-2 gap-3">
					<div class="col d-flex gap-3 align-items-center justify-content-around">
						<p class="flex-grow-1 text-muted m-0">{{opponent.user.rank_score}}</p>
						<h4 class="m-0">{{opponent.user.username}}</h4>
					</div>
					<img draggable="false" class="col" src="{{opponent.user.img_url}}" class="rounded-circle" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp';" alt="avatar 3" style="width: 40px; height: 100%;">
				</div>
			</div>
<!-- End of Profile Zone -->
			<div id="arbiterContainer" #arbiterContainer></div>
			<div class="d-flex align-items-center justify-content-center gap-3">
				<button *ngIf="!isSpectator" type="button" class="btn btn-primary" id="removable-ready" (click)="setReady()">Ready</button>
				<button type="button" (click)="redirect('profile')" class="btn btn-primary endmatch" id="removable-profile">Go to profile</button>
				<button *ngIf="!isSpectator && gameSettings && gameSettings.is_ranked" type="button" (click)="redirect('matchmaking')" class="btn btn-primary endmatch" id="removable-match">Find a new match</button>
				<button *ngIf="!isSpectator && gameSettings && !gameSettings.is_ranked" (click)="rematch()" type="button" class="btn btn-primary endmatch" id="removable-rematch">Rematch</button>
			</div>
		</div>
		<div class="ms-5 w-100 col" style="position: relative;">
			<div class="d-flex row scroll-small light-gunmetal my-light2 rounded-3 specWindow">
				<div *ngFor="let spec of specList" class="d-flex flex-column mb-3 col-3 justify-content-center align-items-center">
					<img draggable="false" class="rounded-circle" src="{{spec.img_url}}" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp';" style="width: 45px; height: 45px;" alt="">
					<h4 class="flex-grow-1 m-0">{{spec.username}}</h4>
				</div>
			</div>
			<div *ngIf="specList && specList.length > 0" class="d-flex align-items-center justify-content-center gap-3">
				<button class="btn btn-info" (click)="hideSpecWindow()">hide spectators</button>
			</div>
		</div>
	</div>
</div>
