<!-- <div *ngFor="let msg_list of test_msgs$">
	<div *ngFor="let msg of msg_list">
		<div class="msg" [ngClass]="{'sent_msg': isMe(msg), 'received_msg': !isMe(msg)}">
			<p>{{msg.message_content}}</p>
		</div>
	</div>
	<h6>{{msg_list[0].author.username}}</h6>
</div>
<form #userChatBox="ngForm" (ngSubmit)="onClickChat(userChatBox.value)" >
	<input type = "text" name = "message_content" placeholder = "Send a message..." ngModel>
	<br/>
	<input type = "submit" value = "submit">
 </form> -->

  <section style="background-color: #eee;">
	<div class="container py-5">
  
	  <div class="row d-flex justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-6">
  
		  <div class="card" id="chat2">
			<div class="card-header d-flex justify-content-between align-items-center p-3">
			  <h5 class="mb-0">Chat</h5>
			  <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Let's Chat App</button>
			</div>
			<div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px" *ngFor="let msg_list of test_msgs$">
  
			  <div *ngIf="!isMe(msg_list[0])" class="d-flex flex-row justify-content-start">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
				  alt="avatar 1" style="width: 45px; height: 100%;">
				<div>
					<div *ngFor="let msg of msg_list">
						<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{msg.message_content}}</p>
					</div>
					<p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
				</div>
			  </div>
  
			  <div *ngIf="isMe(msg_list[0])" class="d-flex flex-row justify-content-end mb-4 pt-1">
				<div>
					<div *ngFor="let msg of msg_list">
						<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{msg.message_content}}</p>
					</div>
				  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
				</div>
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
				  alt="avatar 1" style="width: 45px; height: 100%;">
			  </div>
  
			</div>

			<div class="divider d-flex align-items-center mb-4">
				<p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
			</div>
			
			<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
			  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
				alt="avatar 3" style="width: 40px; height: 100%;">
				<form #userChatBox="ngForm" (ngSubmit)="onClickChat(userChatBox.value)" >
			  		<input type="text" name = "message_content" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Type message" ngModel>
				</form>
			  <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
			  <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
			  <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
			</div>
		  </div>
  
		</div>
	  </div>
  
	</div>
  </section>
