<div class="row d-flex justify-content-end">
	<div class="col-sm-6">
<!-- Start of chat app -->
		<div class="card" id="chat2">
			<div class="card-header d-flex justify-content-between align-items-center p-3">
				<h5 class="mb-0">Chat</h5>
				<button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Let's Chat App</button>
			</div>
			<div class="scrollbar scrollbar-primary" style="max-height: 50vh; overflow-y: auto;" #chatMsgs>
<!-- Start of text area -->
				<div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative;" *ngFor="let msg_list of test_msgs$">
<!-- Start of not current user field -->
					<div *ngIf="!isMe(msg_list[0]) && !isSystem(msg_list[0])" class="d-flex flex-row justify-content-start">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
						<div>
							<div *ngFor="let msg of msg_list">
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{msg.message_content}}</p>
							</div>
							<p class="small ms-3 mb-3 rounded-3 text-muted">{{ getTime(msg_list) }}</p>
						</div>
					</div>
<!-- End of not current user field -->
<!-- Start of current user field -->
					<div *ngIf="isMe(msg_list[0]) && !isSystem(msg_list[0])" class="d-flex flex-row justify-content-end mb-4 pt-1">
						<div>
							<div *ngFor="let msg of msg_list">
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #56a1ec;">{{msg.message_content}}</p>
							</div>
							<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{ getTime(msg_list) }}</p>
						</div>
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
					</div>
<!-- End of current user field -->
<!-- Start of System field -->
					<div *ngIf="isSystem(msg_list[0])" class="divider d-flex align-items-center mb-4">
						<div *ngFor="let msg of msg_list">
							<p class="text-center mx-3 mb-0" style="color: #a2aab7;">{{msg.message_content}}</p>
						</div>
					</div>
<!-- End of System field -->
				</div>
<!-- End of text area -->
			</div>

			<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 3" style="width: 40px; height: 100%;">
				<form #userChatBox="ngForm" (ngSubmit)="onClickChat(userChatBox.value)" >
					<input type="text" name = "message_content" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Type message" ngModel>
				</form>
				<a class="ms-3 text-muted text-decoration-none"><kbd>Send</kbd></a>
			</div>
		</div>
<!-- End of chat app -->
	</div>
</div>