<div class="row d-flex justify-content-end fixed-bottom chat-card">
	<div class="order-1 pe-1 chat-size">
<!-- Start of chat app -->
		<div class="card offscreen" style="height: 60vh;" id="chat2">
			<div class="card-header d-flex justify-content-between align-items-center p-3 chat-card-header">
				<h5 class="mb-0">Chat</h5>
				<button type="button" id="chanBtn" (click)="slideChan()" class="btn darkslategrey hoverable btn-sm" data-mdb-ripple-color="dark">Open channels</button>
				<div (click)="slide()">
					<img src="https://cdn.onlinewebfonts.com/svg/img_69492.png" id="chatBtn" class="rounded-circle" alt="Open Chat">
				</div>
				<!-- <button type="button" id="chatBtn" (click)="slide()" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Open chat</button> -->
			</div>
			<div class="scrollbar scrollbar-primary h-100 bg-light" style="overflow-y: auto; overflow-x: hidden;" #chatMsgs>
<!-- Start of text area -->
				<div #chanBody class="channel_unpan">
					<div class="card-body p-0" data-mdb-perfect-scrollbar="true" style="position: relative; " *ngFor="let msg_list of test_msgs$">
<!-- Start of not current user field -->
						<div *ngIf="!isMe(msg_list[0]) && !isSystem(msg_list[0])" class="d-flex flex-row justify-content-start" id="group-{{msg_list[0].message_id}}">
							<img (click)="createChatPopup(msg_list[0], $event)" (contextmenu)="createChatPopup(msg_list[0], $event)" id="img-{{msg_list[0].message_id}}" class="rounded-circle" src="{{msg_list[0].author.img_url}}" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp';" alt="avatar 1" style="width: 45px; height: 100%;">
							<div>
								<div class="d-flex align-items-end">
									<p class="small ms-3 mb-0 text-muted">{{ getName(msg_list) }}</p>
									<!-- <img [ngbPopover]="customPopoverTemplate" popoverTitle="Popover Title" class="rounded-circle border border-2 m-0 ms-2 m-auto hidden_icon" id="img-{{msg_list[0].message_id}}-mute" src="{{icone_list.mute_user}}" alt="mute_user"> -->
								</div>
								<div *ngFor="let msg of msg_list" class="d-flex" id="message-{{msg.message_id}}">
									<p class="small pb-1 ps-2 pe-2 pt-0 ms-2 me-2 mb-1 rounded-3 text-wrap d-block" (click)="onDropdownDel(msg)" style="background-color: rgb(206, 210, 216);">{{msg.message_content}}</p>
									<img (click)="delMsg(msg_list[0])" class="m-0 ms-2 m-auto hidden_icon" style="height: 20px; width: 20px;" id="img-{{msg.message_id}}-del" src="{{icone_list.del_message}}" alt="del_message">
								</div>
								<p class="small ms-3 mb-0 rounded-3 text-muted">{{ getTime(msg_list) }}</p>
							</div>
						</div>
<!-- End of not current user field -->
<!-- Start of current user field -->
						<div *ngIf="isMe(msg_list[0]) && !isSystem(msg_list[0])" class="d-flex flex-row justify-content-end" id="group-{{msg_list[0].message_id}}">
							<div>
								<p class="small me-3 mb-0 rounded-3 text-muted d-flex justify-content-end">{{ getName(msg_list) }}</p>
								<div *ngFor="let msg of msg_list" class="d-flex" id="message-{{msg.message_id}}">
									<img (click)="delMsg(msg_list[0])" class="m-0 ms-2 m-auto hidden_icon" style="height: 20px; width: 20px;" id="img-{{msg.message_id}}-del" src="{{icone_list.del_message}}" alt="del_message">
									<p class="small pb-1 ps-2 pe-2 pt-1 ms-3 mb-1 me-1 rounded-3 text-wrap float-end" (click)="onDropdownDel(msg)" style="background-color: #56a1ec;">{{msg.message_content}}</p>
								</div>
								<p class="small me-3 mb-0 rounded-3 text-muted float-end">{{ getTime(msg_list) }}</p>
							</div>
							<img class="rounded-circle" src="{{msg_list[0].author.img_url}}" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp';" alt="avatar 1" style="width: 45px; height: 100%;">
						</div>
<!-- End of current user field -->
<!-- Start of System field -->
						<div *ngIf="isSystem(msg_list[0])" class="divider d-flex align-items-center">
							<div *ngFor="let msg of msg_list">
								<p class="text-center mx-3 mb-0" style="color: #a2aab7;">{{msg.message_content}}</p>
							</div>
						</div>
<!-- End of System field -->
					</div>

				</div>
<!-- End of text area -->
				<div class="card-body p-0 h-100 channel_pan p-3 bg-light" data-mdb-perfect-scrollbar="true">
					<div class="w-100 d-flex mb-2">
						<button type="button" (click)="createChannel()" class="btn btn-primary btn-sm m-auto" data-mdb-ripple-color="dark">create channel</button>
					</div>
					<div class="row" *ngFor="let channel of channels$">
						<button type="button" (click)="openChannel(channel.channel_id)" class="btn btn-secondary btn-sm mt-1" data-mdb-ripple-color="dark">{{ channel.channel_name }}</button>
					</div>
				</div>
				<div class="card-body p-0 h-100 channel_create_pan p-3 bg-light" data-mdb-perfect-scrollbar="true">
					<div class="w-100 d-flex mb-2">
						<button type="button" (click)="createChannel()" class="btn btn-primary btn-sm m-auto">back</button>
					</div>
					<form #createChannelBox="ngForm" (ngSubmit)="onClickCreateChannel(createChannelBox.value)">
						<input type="text" name="channel_name" autocomplete="off" placeholder="Channel name" ngModel><br>
						<input type="password" name="channel_password" class="chanPass show" autocomplete="off" placeholder="Password" ngModel><br>
						<label for="privateCheckbox" class="text-black">Set channel private</label>
						<input type="checkbox" value="false" name="is_channel_private" (change)="togglePrivate($event)" ngModel #privateCheckbox><br>
						<input type="submit" class="btn btn-outline-secondary btn-sm rounded-5" value = "submit">
					</form>
				</div>
			</div>

			<form #userChatBox="ngForm" (ngSubmit)="onClickChat(userChatBox.value)" >
				<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3 gap-3">
					<img src="{{getAvatar()}}" class="rounded-circle" onerror="this.src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp';" alt="avatar 3" style="width: 40px; height: 100%;">
					<input type="text" name="message_content" autocomplete="off" class="form-control form-control-lg text-input" id="exampleFormControlInput1" placeholder="Type message" ngModel>
					<input type="submit" class="btn btn-outline-secondary btn-sm rounded-5" value = "submit">
				</div>
			</form>
		</div>
<!-- End of chat app -->
	</div>
</div>

<ng-template let-data="data" #chatInteractionTemplate>
	<div class="d-grid">
		<button type="button" class="row btn btn-block popup-hover">User Profile</button>
		<button (click)="addFriend(data)" type="button" class="row btn btn-block popup-hover">Add Friend</button>
		<button (click)="blockUser(data)" type="button" class="row btn btn-block popup-hover">Block User</button>
		<button *ngIf="is_chat_admin()" (click)="muteUser(data)" type="button" class="row btn btn-block popup-hover">Mute User</button>
		<button *ngIf="is_chat_admin()" (click)="kickUser(data)" type="button" class="row btn btn-block popup-hover">Kick User</button>
		<button *ngIf="is_chat_admin()" (click)="banUser(data)" type="button" class="row btn btn-block popup-hover">Ban User</button>
	</div>
</ng-template>
