html, body {
	height: 100%;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
}

.scrollbar-faded ::-webkit-scrollbar {
	opacity: 0;
	transition: opacity 0.5s;
}

.scrollbar-faded:hover ::-webkit-scrollbar {
opacity: 1;
}

/*--Colors--*/
.white {
	background-color: white;
	color: black;
}
.white.hoverable:hover {
	background-color: #4E8098;
}
.gunmetal {
	background-color: #092327;
	color: white;
}
.gunmetal.hoverable:hover {
	background-color: #4E8098;
}
.light-gunmetal {
	background-color: #092c31;
	color: white;

}
.light-gunmetal.hoverable:hover {
	background-color: #4E8098;
}
.darkslategrey {
	background-color: #0B5351;
	color: white;
}
.darkslategrey.hoverable:hover {
	background-color: #4E8098;
}
.airforceblue {
	background-color: #4E8098;
	color: white;
}
.airforceblue.hoverable:hover {
	background-color: #4E8098;
	color: white;
}
.midnightgreen {
	background-color: #0F3C43;
	border-color: #4E8098 !important;
	color: white;
}
.midnightgreen.hoverable:hover {
	background-color:#4E8098 !important;
	color: white !important;
}
.prussianblue {
	background-color: #183E63;
	color: white !important;
}
.prussianblue.hoverable:hover {
	background-color:#4E8098 !important;
	color: white !important;
}
.lapislazuli {
	background-color: #245C94 !important;
}
.lapislazuli.hoverable:hover {
	background-color:#4E8098 !important;
	color: white !important;
}
.toast-body {
	padding: 0 !important;
}

.my-light {
	box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.514);
	z-index: 1000;
}
.my-light2 {
	z-index: 500;
	box-shadow: 0px 0px 20px rgba(7, 7, 7, 0.185);
}